<div class="banner">
    <div class="banner-content">
        <h1>Bienvenido a Nuestro Servicio de Psicología</h1>
        <p>Ofrecemos terapia personalizada y cursos para mejorar tu bienestar mental</p>
        <a mat-flat-button href="https://wa.me/123456789" target="_blank" color="primary">
            <fa-icon [icon]="faWhatsapp"></fa-icon> ¿Agendamos una cita?
        </a>
    </div>
</div>

<div class="content">
    <p>
        “La mejor inversión está en ti, recuerda que no vas a sanar si sigues fingiendo no estar herido”
    </p>
    <p>
        Te acompaño en tu camino desde la empatía, con un trato humano brindando un servicio de alta calidad, adaptable
        a tus necesidades y con el objetivo de desestigmatizar la salud mental.
    </p>
</div>

<div style="background-color: rgba(68,0,153,0.06);">
    <div class="card-container">
        <mat-card class="custom-card">
            <div class="card-header">
                <div class="user-icon-circle">
                    <fa-icon [icon]="faTiktok"></fa-icon>
                </div>
            </div>
            <mat-card-content>
                <h2>+358,6</h2>
                <p>
                    SEGUIDORES
                    <br>
                    EN TIKTOK
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="custom-card">
            <div class="card-header">
                <div class="user-icon-circle">
                    <fa-icon [icon]="faBook"></fa-icon>
                </div>
            </div>
            <mat-card-content>
                <h2>+14,8 M</h2>
                <p>
                    Vistas
                    <br>
                    PSICO-EDUCADOS
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="custom-card">
            <div class="card-header">
                <div class="user-icon-circle">
                    <fa-icon [icon]="faUser"></fa-icon>
                </div>
            </div>
            <mat-card-content>
                <h2>+10 000</h2>
                <p>
                    PERSONAS
                    <br>
                    ATENDIDAS
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="custom-card">
            <div class="card-header">
                <div class="user-icon-circle">
                    <fa-icon [icon]="faClock"></fa-icon>
                </div>
            </div>
            <mat-card-content>
                <h2>+20 000</h2>
                <p>
                    HORAS
                    <br>
                    INVERTIDAS
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <h2
        style="font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif; font-size: 7vh; color: #0f05a0; font-weight: 600; line-height: 1.5em; text-align: center;">
        ¿QUÉ OFRECEMOS?
    </h2>
    <p
        style="font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif; text-align: center; color: #000; font-weight: 500; font-size: 4vh;">
        SERVICIOS INTEGRALES DE SALUD
    </p>

    <div class="card-container">
        <mat-card class="custom-card">
            <div class="card-header">
                <div class="user-icon-circle">
                    <fa-icon [icon]="faHealth"></fa-icon>
                </div>
            </div>
            <mat-card-content>
                <p>
                    <span style="font-weight: bold;">
                        MODALIDAD
                    </span>
                    <br>
                    ONLINE
                    <br>
                    PRESENCIAL
                    <br>
                    A DOMICILIO
                    <br>
                    AL AIRE LIBRE
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="custom-card">
            <div class="card-header">
                <div class="user-icon-circle">
                    <fa-icon [icon]="faEye"></fa-icon>
                </div>
            </div>
            <mat-card-content>
                <p>
                    <span style="font-weight: bold;">
                        DIRIGIDO A
                    </span>
                    <br>
                    NIÑOS
                    <br>
                    ADOLESCENTES
                    <br>
                    ADULTOS
                    <br>
                    ADULTOS MAYORES
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="custom-card">
            <div class="card-header">
                <div class="user-icon-circle">
                    <fa-icon [icon]="faBrain"></fa-icon>
                </div>
            </div>
            <mat-card-content>
                <p>
                    <span style="font-weight: bold;">
                        SERVICIOS CORPORATIVOS
                    </span>
                    <br>
                    (MYPES Y PYMES)
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="custom-card">
            <div class="card-header">
                <div class="user-icon-circle">
                    <fa-icon [icon]="faDoctor"></fa-icon>
                </div>
            </div>
            <mat-card-content>
                <p>
                    CURSOS ONLINE
                    <br>
                    TALLERES
                    <br>
                    RETIROS PSICOLÓGICOS
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div style="max-width: 70%; margin: auto; text-align: center;">
    <h2 style="font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 5vh;
    color: #0f05a0 !important;
    line-height: 1.5em;
    text-align: center;">
        Contacto
        <br>
        CONSULTAS Y SUGERENCIAS
    </h2>
    <p
        style="font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif; word-wrap: break-word; color: #000; font-weight: 500; line-height: 1.7em;">
        Puedes escribirnos empleando el siguiente formulario o comunicarte a cualquiera de nuestras sedes empleando los
        datos de contacto proporcionados. Estaremos gustosos de atenderte.
    </p>
</div>

<div class="contact-container">
    <form action="" style="display: flex; flex-direction: column; gap: 20px;">
        <div style="display: flex;">
            <input type="text" id="et_pb_contact_name_0" class="input" value="" name="et_pb_contact_name_0"
                data-required_mark="not_required" data-field_type="input" data-original_id="name" placeholder="Nombre">
        </div>
        <div style="display: flex; gap: 20px;">
            <input type="text" id="et_pb_contact_phone_0" class="input" value="" name="et_pb_contact_phone_0"
                data-required_mark="not_required" data-field_type="input" data-original_id="phone"
                placeholder="Teléfono">
            <input type="email" id="et_pb_contact_email_0" class="input" value="" name="et_pb_contact_email_0"
                data-required_mark="not_required" data-field_type="input" data-original_id="email" placeholder="Email">
        </div>
        <div style="display: flex;">
            <textarea class="input" name="et_pb_contact_message_0" id="et_pb_contact_message_0"
                data-required_mark="required" data-field_type="text" data-original_id="message" placeholder="Mensaje"
                style="min-height: 150px;"></textarea>
        </div>
        <div style="display: flex; justify-content: right;">
            <button type="submit" name="et_builder_submit_button"
                class="et_pb_contact_submit et_pb_button">Enviar</button>
        </div>
    </form>

</div>

<footer>
    <div
        style="background-color: #00196e !important; display: grid; justify-content: center; gap: 20px; padding: 1rem 20%; color: #fff; grid-template-columns: repeat(3, 1fr);">
        <div>
            <p>
                “La mejor inversión está en ti, recuerda que no vas a sanar si sigues fingiendo no estar herido”
            </p>
            <p>
                Te acompaño en tu camino desde la empatía, con un trato humano brindando un servicio de alta calidad,
                adaptable a tus necesidades y con el objetivo de desestigmatizar la salud mental.
            </p>
        </div>
        <div
            style="font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif; font-size: 16px; line-height: 1.6em; font-weight: 600;">
            <p style="font-weight: 700;  font-size: 20px;">
                Servicios
            </p>
            <div class="item-list">
                Terapia online, (1:1) presencial y a domicilio
            </div>
            <div class="item-list">
                Asesorías corporativas
            </div>
            <div class="item-list">
                Cursos online
            </div>
            <div class="item-list">
                Talleres y retiros
            </div>
            <div class="item-list">
                Grupos de apoyo
            </div>
            <div class="item-list">
                Terapia grupal
            </div>
            <div class="item-list">
                Terapia individual
            </div>
            <div class="item-list">
                Terapia de pareja
            </div>
            <div class="item-list">
                Terapia familiar
            </div>
            <div class="item-list">
                Terapia infantil
            </div>
            <div class="item-list">
                Terapia para adolescentes
            </div>
            <div class="item-list">
                Terapia para adultos mayores
            </div>
            <div class="item-list">
                Terapia ocupacional
            </div>
            <div class="item-list">
                Orientación vocacional
            </div>
        </div>
        <div>
            <p style="font-weight: 700; font-size: 20px;">
                Contactos
            </p>

            <p style="margin-top: 1rem; font-weight: 500;">
                Citas y consultas:
            </p>
            <div class="item-list">
                <fa-icon [icon]="faPhone"></fa-icon> +51 970723194
            </div>
            <div class="item-list">
                <fa-icon [icon]="faPhone"></fa-icon> +51 972676287
            </div>


            <p style="margin-top: 1rem; font-weight: 500;">
                Correo:
            </p>
            <div class="item-list">
                <fa-icon [icon]="faMail"></fa-icon>&nbsp;
                <a href="mailto:jheniferpinedo@gmail" style="color: #fff;">
                    jheniferpinedo&#64;gmail.com
                </a>
            </div>

            <p style="margin-top: 1rem; font-weight: 500;">
                Dirección:
            </p>
            <div class="item-list">
                <fa-icon [icon]="faMap"></fa-icon> Av. Augusto Pérez Aranibar 1774 - San Isidro
            </div>

            <div style="margin-top: 1em;">
                👩🏻‍⚕️| Psicóloga | Psicoterapeuta TCC
                <br>
                🫂|Acompañamos tu proceso psicológico desde un trato humano las 24hrs.
                <br>
                🧠|Te enseño a cuidar tu SALUD MENTAL
                <br>
                💣|TikTok: +360 mil | 14.8M views
                <br>
                💭|Citas: (+51)970 723 194 | 972676287
            </div>
        </div>
    </div>
</footer>
